:root {
  --orange: #e76f51;
  --white: #ffffff;
  --black: #000000;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Roboto";
}

/* Start header style */
.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../images/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-logo {
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__image {
  width: 100%;
  height: 100%;
}
.menu {
  display: none;
}
.menu__links {
}
.menu__item {
}
.menu__link {
}
.menu-mobile {
  display: none;
  padding: 2rem;
  background-color: var(--white);
  position: fixed;
  width: 0;
  height: 100vh;
  left: -25rem;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
}
.menu-mobile--open {
  left: 0;
  width: 25rem;
}
.menu-mobile__items {
  margin-bottom: 3rem;
}
.menu__mobile__item {
  margin-bottom: 1rem;
  background-color: var(--orange);
  border-radius: 1rem;
}
.menu-mobile__link {
  padding: 1rem;
  text-decoration: none;
  color: var(--white);
  display: block;
}
.menu-mobile__link:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--orange);
  border-radius: 1rem;
}
.mobile__links {
  display: flex;
  border: 1px solid var(--orange);
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}
.mobile__link {
  flex-basis: 50%;
  text-decoration: none;
}
.mobile__link:hover {
  background-color: var(--orange);
  color: var(--white);
  overflow: hidden;
}
.mobile__link:nth-child(2) {
  border-left: 1px solid var(--orange);
}

.nav__links {
  display: none;
}
.nav__link {
}
.nav__btn {
  cursor: pointer;
  background-color: #fff;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bar {
  width: 3.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 1rem;
  position: relative;
  transition: all 450ms ease-in-out;
}
.nav__bar::after,
.nav__bar::before {
  content: "";
  width: 3.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 1rem;
  position: absolute;
  transition: all 450ms ease-in-out;
}
.nav__bar::after {
  top: -0.8rem;
}
.nav__bar::before {
  top: 0.8rem;
}
.nav__btn--open .nav__bar {
  background-color: transparent;
}
.nav__btn--open .nav__bar::before {
  transform: translateY(-8px) rotate(45deg);
}
.nav__btn--open .nav__bar::after {
  transform: translateY(8px) rotate(-45deg);
}

/* finish header style */
