:root {
  --orange: #e76f51;
  --white: #ffffff;
  --black: #000000;
  --BODY-bg: #FAF4F2;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: "Roboto";
  background-color: var(--BODY-bg);
}


 /* 
 ========================================
          helper style
========================================
 */
.btn{
  width: 13rem;
  height: 4rem;
  background-color: var(--white);
  display: block;
  border-radius: 3rem;
  text-decoration: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start header style */
.header {
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(../images/header-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}
.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-logo {
  width: 5.5rem;
  height: 5.5rem;
}
.app-logo__image {
  width: 100%;
  height: 100%;
}
.nav__wrapper{
  display: flex;
  align-items: center;
}
.menu {
  display: none;
  display: flex;
}
.menu__links {
  display: flex;
  
}
.menu__item {
  margin-left: 2rem;
}
.menu__link {
  text-decoration: none;
  color: #D2D2D2;
  transition: color 150ms ease-in;
}
.menu__link:hover {
  color: var(--white);
}

.menu-mobile {
  display: none;
  padding: 2rem;
  background-color: var(--white);
  position: fixed;
  width: 0;
  height: 100vh;
  left: -25rem;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-in-out;
}
.menu-mobile--open {
  left: 0;
  width: 25rem;
}
.menu-mobile__title{
  width: 100%;
  height: 5.5rem;
  margin: 0;
  display: flex;

  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid var(--orange);
  margin-bottom: 1.5rem;
}
.menu-mobile__logo{
  width: 5rem;
  height: 5rem;
  padding-right: 1rem;
}
.menu-mobile__items {
  margin-bottom: 3rem;
}

.menu-mobile__link {
  padding: 1rem;
  text-decoration: none;
  color: var(--white);
  display: block;
  transition: all 250ms ease-in-out;
  position: relative;
}
.menu__mobile__item {
  margin-bottom: 1rem;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 1rem;
}

.menu-mobile__link:hover {
  padding-left: 2rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 1rem;
  transition: all 250ms ease-in-out;
}

.mobile__links {
  display: flex;
  border: 1px solid var(--orange);
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}
.mobile__link {
  flex-basis: 50%;
  text-decoration: none;
}
.mobile__link:hover {
  background-color: var(--orange);
  color: var(--white);
  overflow: hidden;
}
.mobile__link:nth-child(2) {
  border-left: 1px solid var(--orange);
}

.nav__links {
  margin-left: 1rem;
}
.nav__link {
  font-family: 'Roboto Medium';
  color: var(--white);
  padding: 1rem 1.5rem;
  text-decoration: none;
}

.nav__link:nth-child(2) {
  border: 1px solid var(--white);
  border-radius: 2rem;
}
.nav__link:nth-child(2):hover {
  background-color: var(--white);
  color: var(--orange);
}
.nav__btn {
  cursor: pointer;
  background-color: #fff;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bar {
  width: 3.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 1rem;
  position: relative;
  transition: all 450ms ease-in-out;
}
.nav__bar::after,
.nav__bar::before {
  content: "";
  width: 3.5rem;
  height: 0.3rem;
  background-color: var(--orange);
  border-radius: 1rem;
  position: absolute;
  transition: all 450ms ease-in-out;
}
.nav__bar::after {
  top: -0.8rem;
}
.nav__bar::before {
  top: 0.8rem;
}
.nav__btn--open .nav__bar {
  background-color: transparent;
}
.nav__btn--open .nav__bar::before {
  transform: translateY(-8px) rotate(45deg);
}
.nav__btn--open .nav__bar::after {
  transform: translateY(8px) rotate(-45deg);
}

/* finish header style */

 /* 
 ============================
    header content style
 ============================
 */
 .header-content{
  text-align: center;
  color: var(--white);
  margin-top: 5rem;
  
 }
 .header-content__title{
  font-size: 6rem;
  line-height: 6rem;
  font-family: 'Archivo Black';
  max-width: 41.4rem;
  margin: 0 auto 0 auto;
 }
 .header-content__desc{
  font-size: 1.5rem;
  max-width: 26.5rem;
  margin: 0 auto 0 auto;
 }
 .header-content__btn{
  font-size: 1.5rem;
  background-color: var(--orange);
  color: var(--white);
  margin-top: 2rem;
 }



 /* 
 ======================================
          services style
 ======================================
 */

. main{

 }
.services{
  display: flex;
  flex-wrap: wrap;
  margin:-10rem -1rem 0 -1rem;
}
.service{
background-color: var(--white);
width: 20rem;
height: 25rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 3rem;
text-align: center;
flex-grow: 1;
margin: 0 1rem 1rem 1rem;
}
.service__img{
display: block;
}
.service__title{
  font-size: 1.5rem;
  font-family: "Archivo Black";
  padding: 1.5rem 1rem 1rem 1rem;
}
.service__desc{
  padding: 1rem;
  width: 20rem;
}