@media  (max-width: 380px) {
    .header-content__title{
        font-size: 3.5rem;
    }
}
@media  (max-width: 443px) {
    .header-content__title{
        font-size: 5rem;
    }
}
@media (max-width: 576px) {
    .nav__btn{
        display: flex;
    }
    .menu{
        display: none;
    }
    .nav__links{
        display: none;
    }
    .Newsletters-content__title{
        max-width: 16rem;
    }
    .wrapper__main{
        flex-direction: column;
    }
    .arow-top{
        left: 0;
        right: 0;
        margin: 0 auto;;
    }
}

@media (min-width: 576px) {
    .nav__btn{
        display: flex;
    }
    .menu{
        display: none;
    }
    .nav__links{
        display: block;
    }
    .Newsletters-content{
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 2rem;
    }
    .Newsletters-content__right{
        flex-basis: 55%;
        
    }
    .Newsletters-content_img{

        flex-basis: 45%;
        padding: 0 3rem;
    }
    .Newsletters-content__desc{
        margin: 0;
    }
    
}

@media (min-width: 768px) {
    
    .nav__btn, .menu-mobile{
        display: none;
    }
    .menu{
        display: flex;
        font-size: 1.2rem;
    }
    .nav__links{
        display: block;
        font-size: 1.1rem;
    }
    .Newsletters-content{
        flex-direction: row;
        /* justify-content: space-between; */
    }
    
}

@media (min-width: 992px) {
    .menu{
        display: flex;
        font-size: 1.5rem;
    }
    .nav__links{
        display: block;
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}